
.titulo_logo
{
    margin-top: 20px;
    margin-left: 54px;

}
.btNovoCliente
{
   margin-top: 0px;
   margin-left: 0px;

}
#form_buscar_carteira
{

   margin-top: 20px;
   margin-left: 0px;

}
#img_novo_clente
{
    width: 80px;
    height: 75px;
}
#tabela
{
  margin-left: 0px;
  margin-top: 0px;
}